@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Figtree&display=swap');

* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
  font-family: 'Figtree', sans-serif;
}
/* body {
  border: 1px solid red;
  height: 100vh;
  box-sizing: border-box;
} */
.menu-icon {
  display: none !important;
}
.landing {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background: url('https://elearning.fao.org/pluginfile.php/3/block_mtslider/bui_editid2139en7/7_upd.jpg');
}

.landing section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(12, 12, 12, 0.836);
  /* height: 50%; */
}
.click-me {
  display: none;
}
.hover-element:hover .click-me {
  display: block;
}

.logo {
  /* width: 70%; */
  /* border: 1px solid green; */
  background: rgba(223, 231, 252, 0.336);
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.logo img {
  width: auto;
}

.logo-div1 {
  /* border: 1px solid red; */
  width: auto;
  display: flex;
  flex-direction: column;
}

.logo-title {
  font-size: 70px;
  color: rgb(0,24,69);
}
.logo-label {
  font-size: 30px;
  color: rgb(187,151,63);
}

nav {
  color: white;
  display: flex;
  background: rgb(13,37,81);
  width: 80%;
  position: sticky;
  top: 0;
}
nav div:last-child {
  border-right: none;
}
.dropdown {
  border-right: 1px solid grey;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px 0;
  cursor: pointer;
  text-transform: uppercase;
}
.dropdown .nav-link {
  display: flex;
  align-items: center;
  gap: 25px;
}
.dropdown .drop-content {
  opacity: 0;
  display: none;
  position: absolute;
  background: rgba(187, 185, 185, 0.404);
  left: 0;
  right: 0;
  transition: all 0.6s ease;
}
.about-drop {
  top: 100%;
  bottom: -100%;
  margin-top: -1px;
  min-height: 100%;
}
.training-drop {
  top: 100%;
  bottom: -100%;
  margin-top: -1px;
  min-height: 100%;
}
.programs-drop {
  top: 100%;
  bottom: -100%;
  margin-top: -1px;
  min-height: 100%;
}
.dropdown:hover .drop-content {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.bxs-down-arrow {
  color: white;
  font-size: 13px;
  transition: all 0.6s ease;
}
.dropdown:hover .main-links {
  transform: rotate(180deg);
  color: rgb(186,151,60);
}
nav ul li div ul {
  display: flex;
  flex-direction: column;
}



.sub-links {
  position: relative;
  display: flex;
  border-bottom: 1px solid grey;
  padding: 15px 20px;
}
.sub-links:hover .sub-links div:last-child {
  border-bottom: none;
}

._sub-links1, ._sub-links2 {
  position: absolute;
  display: none;
  border: 1px solid red;

}
._sub-links1 {
  right: -130px;
}
._sub-links2 {
  right: -215px;
}
.hover {
  border: 1px solid red;
  width: 100%;
}
.sub-links:hover .hovered {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.sub-links:hover .sublink-arrow {
  transform: rotate(-90deg);
  color: rgb(186,151,60);
}

.drpdwn:hover .bxs-down-arrow {}


nav ul li a {
  color: white;
  text-transform: uppercase;
  cursor: none;
}

.hero {
  /* border: 2px solid green; */
  flex-grow: 1;
  /* height: 55%; */
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  width: 80%;
  /* border: 2px solid green; */
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container, .info-container {
  display: flex;
}
.cards {
  width: 25%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
}
.cards:hover {
  transform: translateY(-5%);
}
.cards p {
  line-height: 30px;
}
.card-1 {
  background: rgb(115,116,149);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-2 {
  background: rgb(104,168,173);
}
.card-3 {
  background: rgb(47,139,191);
}
.card-4 {
  background: rgb(241,125,128);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sec2 {
  /* border: 1px solid magenta; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sec2a, .div1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sec2a p {
  line-height: 30px;
}
.info-container {
  border: 0.5px solid rgba(128, 128, 128, 0.295);
  border-radius: 8px;
}
.info-cards {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  border-right: 0.5px solid rgba(128, 128, 128, 0.295);
}

@media screen and (max-width: 768px) {
  .landing {
    padding: 24px;
  }
  nav {
    color: rgb(35,60,79);
    background-color: rgb(245, 232, 232);
    position: absolute;
    width: 50%;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 10px;
    z-index: 1;
  }
  nav.active {
    left: 0;
  }
  nav ul {
    flex-direction: column;
    align-items: left;
    /* position: absolute;
    top: 0;
    left: 0;
    background: green;
    z-index: 1; */
  }
  nav ul li {
    border: none;
    width: auto;
    text-align: left;
  }
  nav ul li a {
    color: rgb(35,60,79);
  }
  .landing section {
    /* border: 1px solid magenta; */
    height: 100vh;
    justify-content: center;
    position: relative;
  }
  .menu-icon {
    display: block !important;
  }
  .bx-menu {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
  }
  .logo {
    width: auto;
  }
  .hero {
    flex-grow: inherit;
  }
}